<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <title>Deckforge</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <meta name="description" content="Deckforge Hjemmeside">
    <meta name="keywords" content="Magic, Magic the Gathering, Magic: The Gathering, MTG, MtG, mtg, Deckforge">
    <meta name="author" content="???">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>

    <header
        th:replace="~{fragments/header :: header}">
    </header>


    <nav
        th:insert="~{fragments/post-navbar :: post-navbar}">
    </nav>


    <main class="standard-main">

        <article class="standard-main-article">

            <a th:href="@{/event/base}" class="back-button">Tilbage</a>

            <h2>Dine Tilmeldte Events:</h2>
            <br>


            <section class="event-grid">

                <section class="event-box" th:each="event : ${events}">

                    <section class="event-box-content">
                        <h3 th:text="${event.eventName}"></h3>
                        <p><strong>Maks. pladser:</strong> <span th:text="${event.maxSlots}"></span></p>
                        <p><strong>Ledige pladser:</strong> <span th:text="${event.availableSlots}"></span></p>
                        <p><strong>Adresse:</strong> <span th:text="${event.location}"></span></p>
                        <p><strong>Tid:</strong> <span th:text="${event.startTime}"></span></p>
                        <p><strong>Dato:</strong> <span th:text="${event.date}"></span></p>

                        <form th:action="@{/event/details/{eventId}(eventId=${event.eventId})}" method="get">
                            <button type="submit" class="standard-button">Detaljer</button>
                        </form>

                    </section>

                </section>

            </section>

        </article>

    </main>




    <footer class="standard-footer"
        th:insert="~{fragments/footer :: footer}">
    </footer>


</body>


</html>