<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <title>Deckforge</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <meta name="description" content="Deckforge Hjemmeside">
    <meta name="keywords" content="Magic, Magic the Gathering, Magic: The Gathering, MTG, MtG, mtg, Deckforge">
    <meta name="author" content="???">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>

    <header
        th:replace="~{fragments/header :: header}">
    </header>


    <nav
        th:insert="~{fragments/post-navbar :: post-navbar}">
    </nav>


    <main class="standard-main">

        <article class="standard-main-article">

            <h2>Egen Profil</h2>
            <p>Her kan du se din egen profil og afmelde din konto</p>

            <br>

            <strong><h1>Navn:</h1></strong>
            <h3 class="bordered-text" th:text="${name}"></h3>

            <br>

            <strong><h1>Email:</h1></strong>
            <h3 class="bordered-text" th:text="${email}"></h3>

            <br>

            <form th:action="@{/personal/deregister}" method="get">
                <button type="submit" class="warning-button" >Afmeld din konto</button>
            </form>

        </article>

    </main>


    <footer class="standard-footer"
        th:insert="~{fragments/footer :: footer}">
    </footer>


</body>


</html>