/* Generel defintioner */

/* Nulstiller det hele fra starten af */
* {
	margin : 0;
	border : 0;
	padding : 0;
	box-sizing : border-box;
}




/* Responsive definitioner */



/* Header definitioner */



/* Navigation definitioner */



/* Main definitioner */





/* Footer definitioner */





