<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <title>Deckforge</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <meta name="description" content="Deckforge Hjemmeside">
    <meta name="keywords" content="Magic, Magic the Gathering, Magic: The Gathering, MTG, MtG, mtg, Deckforge">
    <meta name="author" content="???">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<header
        th:replace="~{fragments/header :: header}">
</header>


<nav
        th:insert="~{fragments/post-navbar :: post-navbar}">
</nav>


<main class="standard-main">

    <article class="standard-main-article">

        <a th:href="@{/deck/personal-decks}" class="back-button">Tilbage</a>

        <h2>Deck Detaljer</h2>
        <p>Her er kortene vist, som er i det specifikke deck</p>
        <br>


        <section class="standard-confirm-message" th:if="${confirmMessage != null and !#strings.isEmpty(confirmMessage)}">
            <p th:text="${confirmMessage}"></p>
            <br>
        </section>


        <form th:action="@{/deck/add-cards-list/{deckId}(deckId=${deck.deckId})}" method="get">
            <button type="submit" class="standard-button" >Tilføj nyt Kort</button>
        </form>
        <br>


        <article class="deck-box-single">
            <section class="deck-box-content">

            <h3 th:text="${deck.deckName}"></h3>
            <p><strong>Kort:</strong> <span th:text="${deck.cardAmount}"></span></p>
            <p><strong>Format:</strong> <span th:text="${deck.format.displayValue}"></span></p>

            </section>
        </article>


        <!-- Viser kort og man kan klikke ind på dem -->
        <section class="card-grid">
            <a class="card-item" th:each="deckCard : ${cards}"
               th:href="@{/deck/remove-card-detail/{deckId}/{deckContainId}(deckId=${deckCard.deckId}, deckContainId=${deckCard.deckContainId})}">
                <img th:src="@{'/images/' + ${deckCard.picture}}" alt="Card image">
            </a>
        </section>

    </article>

</main>


<footer class="standard-footer"
        th:insert="~{fragments/footer :: footer}">
</footer>


</body>


</html>