<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <title>Deckforge</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <meta name="description" content="Deckforge Hjemmeside">
    <meta name="keywords" content="Magic, Magic the Gathering, Magic: The Gathering, MTG, MtG, mtg, Deckforge">
    <meta name="author" content="???">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="standard-header"
        th:replace="~{fragments/header :: header}">
    </header>




    <nav
            th:insert="~{fragments/post-navbar :: post-navbar}">
    </nav>



    <main>

        <section>

        </section>

    </main>



    <footer class="standard-footer"
            th:insert="~{fragments/footer :: footer}">
    </footer>


</body>


</html>