<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <title>Deckforge</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <meta name="description" content="Deckforge Hjemmeside">
    <meta name="keywords" content="Magic, Magic the Gathering, Magic: The Gathering, MTG, MtG, mtg, Deckforge">
    <meta name="author" content="???">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<header
        th:replace="~{fragments/header :: header}">
</header>


<nav
        th:insert="~{fragments/post-navbar :: post-navbar}">
</nav>


<main class="standard-main">
    <article class="standard-main-article">

        <h2>Dine kort</h2>
        <p>Klik på et kort for at se detaljer</p>
        <br>


        <article class="standard-top-search">
            <a class="standard-button" th:href="@{/collection/add}">
                Tilføj kort til samling
            </a>

            <form th:action="@{/collection/search}" method="get">
                <input type="text" name="name" th:value="${searchTerm}" placeholder="Søg efter navn på kort i samling">
                <button type="submit" class="standard-button">Søg</button>
            </form>
        </article>

        <!-- Viser kort og man kan klikke ind på dem -->
        <section class="card-grid">
            <a class="card-item" th:each="card : ${cards}"
               th:href="@{'/collection/owned/' + ${card.ownedCardId}}">
                <img th:src="@{'/images/' + ${card.picture}}" alt="Card image">
            </a>
        </section>

    </article>
</main>



<footer class="standard-footer"
        th:insert="~{fragments/footer :: footer}">
</footer>


</body>


</html>