<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <title>Deckforge</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <meta name="description" content="Deckforge Hjemmeside">
    <meta name="keywords" content="Magic, Magic the Gathering, Magic: The Gathering, MTG, MtG, mtg, Deckforge">
    <meta name="author" content="???">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header class="standard-header">
    <a href="/return">
        <img class="logo" src="/images/deckforge-logo.png" alt="Billede af logo" href="/return">
    </a>
    <h1>Her er Registrering</h1>
</header>



    <nav
            th:insert="~{fragments/pre-navbar :: pre-navbar}">
    </nav>



    <main class="standard-main">

        <article class="standard-main-article">

            <h2>Opret bruger</h2>
            <p>Indtast den relevante information, og klik på knappen:</p>
            <br>

            <!--Viser kun fejlmeddelse/border hvis den ikke er tom eller null -->
            <section class="standard-warning-message" th:if="${responseMessage != null and !#strings.isEmpty(responseMessage)}">
                <p th:text="${responseMessage}"></p>
            </section>

            <br>

            <form th:action="@{/authentication/register}" method="post" th:object="${auth}">
                <label for="name">Indtast navn </label><br>
                <input type="text" id="name" th:field="*{name}" placeholder="Frank" required><br><br>
                <label for="email">Indtast email </label><br>
                <input type="email" id="email" th:field="*{email}" placeholder="JegElskerKatte@gmail.com" required><br><br>
                <label for="password">Indtast kodeord </label><br>
                <input type="password" id="password" th:field="*{password}" required><br><br>

                <button type="submit" class="standard-button">Opret Bruger</button>

            </form>
        </article>

    </main>


    <footer class="standard-footer"
            th:insert="~{fragments/footer :: footer}">
    </footer>


</body>


</html>